.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.main {
  width: 100%;
  margin: 50px auto;
}
.has-search .form-control {
  padding-left: 2.375rem;
  width: 50%;
  margin-left: 25%;
  background-color: #00000027;
  border-radius: 20px;
  margin-top: -30px;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.heading{
  width:160%;
  margin-left: 0px;
  margin-bottom: 10px;
}
.header
{
    background-color: rgb(99, 14, 196);
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding: 1em;
    margin:0px;
}
